target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd

**/.mvn
**/target/

.idea

**/.gitignore

mall.iml
**/mall-common.iml
**/mall-coupon.iml
**/mall-gateway.iml
**/mall-ware.iml
**/mall-order.iml
**/mall-product.iml
**/renren-fast.iml
**/mall-member.iml